-- 菜单SQL
INSERT INTO `tb_menu` (`parent_id`, `name`, `url`, `perms`, `type`, `icon`, `sort`)
    VALUES ('1', '${comments}', '${moduleName}/${pathName}', NULL, '1', '', '99');

-- 按钮父菜单ID
set @parentId = @@identity;

-- 菜单对应按钮SQL
INSERT INTO `tb_menu` (`parent_id`, `name`, `url`, `perms`, `type`, `icon`, `sort`)
    SELECT @parentId, '查看', null, '${moduleName}:${pathName}:view', '2', null, '1';
INSERT INTO `tb_menu` (`parent_id`, `name`, `url`, `perms`, `type`, `icon`, `sort`)
    SELECT @parentId, '新增', null, '${moduleName}:${pathName}:save', '2', null, '2';
INSERT INTO `tb_menu` (`parent_id`, `name`, `url`, `perms`, `type`, `icon`, `sort`)
    SELECT @parentId, '修改', null, '${moduleName}:${pathName}:update', '2', null, '3';
INSERT INTO `tb_menu` (`parent_id`, `name`, `url`, `perms`, `type`, `icon`, `sort`)
    SELECT @parentId, '删除', null, '${moduleName}:${pathName}:delete', '2', null, '4';
